.chart-container{
  width: 450px;
  height: 500px;
  background-color: white;
  padding: 15px 30px;
  border-radius: 10px;
}
.charts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}